[Unit]
Description=KusManager

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=~/server/bin/Server.exe
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
